<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { 
							   
							%>
							<option onclick="barva()" value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> (<%= stranka.StRacunov %>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { 
							%>
							<option  value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
				
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	function barva(){
		 var str=document.getElementById("seznamStrank").value;
		 var stran=document.getElementById("seznamStrank").options;
		var idrac=document.getElementById("seznamRacunov").options;
	
		var ime;
		for(var i=0;i<stran.length;i++){
			if(str==stran[i].value){
				ime=stran[i].text;
				break;
			}
		}
		ime=ime.split(",");
		var prime=ime[0]+" ";
		var idim,pridim;
		var tab;
		for(var i=0;i<idrac.length;i++){
			idim=idrac[i].text;
			idim=idim.split("(");
			pridim=idim[0];
				idrac[i].className="";
			if(!pridim.localeCompare(prime)){
				idrac[i].className="racun-stranke";
			}
		}

	}
</script>
<script>
	$(document).ready(function () {
		var emailRegex =/^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		var req = new XMLHttpRequest();
		var kra;
		req.onload = function() {
		console.log("Podatki oddaljene storitve pridobljeni!");
	//	console.log(this.responseText);
		kra=this.responseText;
		kra=JSON.parse(kra);
		};
		req.open('get', 'https://api.lavbic.net/kraji', false);
		req.send();
		
		
		var imenakrajev=[""];
		for(var i=0;i<kra.length;i++){
			imenakrajev[i]=kra[i].kraj;
		}
		imenakrajev[476]="";
		console.log(imenakrajev);
		document.getElementById("Email").addEventListener("keyup", function(){
			if(emailRegex.test(this.value)){
				document.getElementById("EmailValidate").className="glyphicon glyphicon-ok";
					if(document.getElementById("PostalCode").value>=0 &&document.getElementById("Country").value =="Slovenija"){
					document.getElementById("Register").disabled=false;
					}
			}
			else{
				document.getElementById("EmailValidate").className="glyphicon glyphicon-remove";
			
				document.getElementById("Register").disabled=true;
				
			}
		});
		document.getElementById("City").addEventListener("keyup", function () {
			
			if (this.value.length == 0) {
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
				document.getElementById("Register").disabled = true;
			}
			else{
				 $("#City").autocomplete({
            		 source: imenakrajev ,

        		 });
        		     $('#City').on('autocompleteselect', function (e, ui) {
    				    var mesto=ui.item.value;
    				     var post;
        				 for(var i=0;i<kra.length;i++){
        		 			if(mesto==kra[i].kraj){
        		 				post=kra[i].postnaStevilka;
        					}
        				 }
        				document.getElementById("PostalCode").value = post;
						document.getElementById("Country").value = "Slovenija";
						if(document.getElementById("EmailValidate").className=="glyphicon glyphicon-ok"){
						document.getElementById("Register").disabled = false;
						}
					 });
			}

		});
	});
</script>
</body>
</html>


